.sp-palette .sp-thumb-el {
  border: 0;
  height: 3rem;
  margin: .15rem;
  width: 3rem;
}

.sp-container {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #333;
  border: 0;
  width: 100%;
}

.sp-palette-container {
  width: calc(100% - 20px);
}

.sp-palette {
  max-width: none;
}

.sp-picker-container {
  display: none;
}
